<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Add connection string here. -->
  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="HelloWorld" connectionString="Data Source=40.112.69.27,1433;Network Library=DBMSSOCN;Initial Catalog=helloworld;User ID=sa;Password=hellow123;" />
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="LoremIpsum" connectionString="Data Source=40.112.69.27,1433;Network Library=DBMSSOCN;Initial Catalog=loremipsum;User ID=sa;Password=hellow123;" />
  </connectionStrings>

  <!-- exposing wcf serivces both in http and tcp -->
  <!-- TODO: manage transport security for http and tcp with bindings -->
  <!--<system.serviceModel  xdt:Transform="Replace">
    <services>
      <service name="SRC.AnimalService" behaviorConfiguration="AnimalServiceBehavior">
        <host>
          -->
  <!-- TODO: fix the base addresses -->
  <!--
          <baseAddresses>
            <add baseAddress="http://YOUR_CLOUD_SERVICE/AnimalService" />
            <add baseAddress="net.tcp://YOUR_CLOUD_SERVICE/AnimalService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="API.IAnimalService" bindingConfiguration="notSecureHttpsBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="netTcpBinding" contract="API.IAnimalService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AnimalServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      -->
  <!-- http -->
  <!--
      <basicHttpBinding>
        <binding name="notSecureHttpsBinding" allowCookies="true" maxReceivedMessageSize="50000000" maxBufferSize="50000000" maxBufferPoolSize="50000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          -->
  <!-- no https -->
  <!--
          <security mode="None">
            -->
  <!-- No credential require to connect to this service -->
  <!--
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="32" maxArrayLength="500000000" maxStringContentLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>-->

</configuration>